.wrapper {
    width: 100%;
    padding-top: 24px;
    .detail {
        text-align: left;
    }
}

.gallery {
    display: flex;
}

.gallery-big {
    flex: 0 0 83%;
    max-width: 83%;
    height: 100%;
    max-height: 991px;
}

.image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.gallery-small {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .prev-btn-wrap {
        position: absolute;
        top: 0;
        left: 50%;
        cursor: pointer;
        transform: translateX(-50%) rotate(180deg);
        z-index: 10;
    }

    .next-btn-wrap {
        position: absolute;
        bottom: 0;
        left: 50%;
        cursor: pointer;
        transform: translateX(-50%);
        z-index: 10;
    }

    .btn-icon {
        padding-bottom: 30px;
    }
}

.swiper-container {
    margin-left: 8px;
}

.content {
    padding-left: 90px;

    .name {
        font-weight: 600;
        font-size: 30px;
        line-height: 32px;
        color: #221f20;
        text-transform: uppercase;
    }

    .sub-info {
        margin-top: 16px;
        display: flex;
        align-items: center;
        white-space: nowrap;
        font-size: 16px;
        line-height: 24px;
        color: #6c6d70;
    }

    .price {
        margin-top: 24px;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #221f20;
    }

    .detail-color {
        margin-top: 24px;

        & p {
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
            color: #221f20;
            margin-bottom: 0;
        }
    }

    .size-selector {
        margin-top: 24px;
    }
}

.quantity {
    margin: 24px 0;
    display: flex;
    align-items: center;

    & p {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2;
        vertical-align: baseline;
        margin-bottom: 0;
        color: #6c6d70;
    }
}

.cart-product-quantity {
    margin-left: 12px;
    width: 144px;
    position: relative;
    height: 48px;

    input {
        text-align: center;
        position: absolute;
        border: 1px solid #e7e8e9;
        width: 92%;
        left: 11px;
        height: 100%;
        border-radius: 16px 0px;
        padding: 0px 44px 0 51px;
        color: #221f20;
    }
}

.price-quantity {
    position: absolute;
    top: 0;
    background: #ffffff;
    border: 1px solid #e7e8e9;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.quantity-minus,
.quantity-plus {
    width: 48px;
    height: 48px;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e7e8e9;
    border-radius: 16px 0px;
    background-color: white;
    cursor: pointer;
    font-size: 28px;
    font-weight: 200;
    vertical-align: middle;
}

.quantity-minus {
    left: 0;
}

.quantity-plus {
    right: 0;
}

.detail-color {
    p {
        font-weight: 500;
    }
}

.size-selector input[type='radio'] {
    display: none;
}

.size-selector {
    display: flex;

    label {
        width: 48px;
        height: 32px;
        margin-right: 12px;
        display: inline-block;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: 1px solid #e7e8e9;
    }
}

.size-selector {
    input[type='radio']:checked + label {
        border: 1px solid #221f20;
        color: #221f20;
    }
}

.heart-btn {
    padding: 5px;
}

.description {
    margin-top: 24px;
    font-weight: 300;
}
