.custom-alert-title {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.swal2-popup {
    position: fixed !important;
    width: 520px !important;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    padding-top: 60px !important;
    padding-bottom: 80px !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
}

.error-message {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #17a2b8;
    color: fff;
    padding: 16px 100px 16px 16px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.error-message i {
    margin-right: 8px;
}

.custom-confirm-button {
    padding: 10px 22px;
    border-radius: 16px 0px;
    font-size: 14px;
    line-height: 22px;
    background-color: #000;
    color: #fff;
    border: 1px solid transparent;
    font-weight: 600;
    text-transform: uppercase;
}

.custom-confirm-button:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}

.custom-cancel-button {
    padding: 10px 22px;
    border-radius: 16px 0px;
    line-height: 22px;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    text-transform: uppercase;

}

.custom-cancel-button:hover {
    background-color: #000;
    color: #fff;
}