.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-family: Arial, sans-serif;
}

.order-table-header {
    background-color: #f4f4f4;
}

.order-table-header th {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    font-weight: bold;
}

.order-table-body {
    background-color: #ffffff;
}

.order-table-row {
    border-bottom: 1px solid #ddd;
}

.order-table-cell {
    padding: 10px;
    text-align: center;
}

.order-table-cell img.order-product-image {
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.order-table-row:nth-child(even) {
    background-color: #f9f9f9;
}

.order-table-row:hover {
    background-color: #f1f1f1;
}

.order-detail h2,
.delivery-address h2,
.customer-details h2 {
    margin-bottom: 15px;
    font-size: 20px;
    color: #333;
    font-family: 'Montserrat, sans-serif';
    text-transform: uppercase;
}

.order-detail-info {
    margin-bottom: 8px;
    font-family: 'Montserrat, sans-serif';
    font-size: 16px;
    color: #555;
}

.order-total {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    font-family: 'Montserrat, sans-serif';

}

.order-status-form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

#order-status {
    padding: 5px;
    font-size: 16px;
}

.update-status-btn {
    background-color: #2c3e50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.order-detail-body {
    border-top: 1px solid #ccc;
    margin-top: 22px;
}

.status {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.status.pending {
    background-color: orange;
}

.status.paid {
    background-color: teal;
}

.status.processing {
    background-color: blue;
}

.status.shipped {
    background-color: purple;
}

.status.delivered {
    background-color: green;
}

.status.canceled {
    background-color: red;
}