.custom-confirm-button {
    padding: 10px 22px;
    border-radius: 16px 0px;
    font-size: 14px;
    line-height: 22px;
    background-color: #000;
    color: #fff;
    border: 1px solid transparent;
    font-weight: 600;
    text-transform: uppercase;
}

.custom-confirm-button:hover {
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
}

.custom-cancel-button {
    padding: 10px 22px;
    border-radius: 16px 0px;
    line-height: 22px;
    background-color: #fff;
    border: 1px solid #000;
    color: #000;
    text-transform: uppercase;
}

.custom-cancel-button:hover {
    background-color: #000;
    color: #fff;
}
