.message {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #17a2b8;
    color: fff;
    padding: 16px 100px 16px 16px;
    border-radius: 5px;
    z-index: 1000;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    color: var(--white-color);
}

.icon {
    margin-right: 8px;
}
