.account-info-wrapper {
    margin-top: 24px;
}

.account-sidebar {
    max-width: 270px;
    width: 100%;
    border: 1px solid #e7e8e9;
    border-radius: 32px 0px;
    padding-bottom: 32px;
    background: #fff;
    z-index: 2;
}

.account-header {
    position: relative;
    border-bottom: 1px solid #f7f8f9;
}

.account-avatar {
    overflow: hidden;
    border-radius: 50%;
}

.account-user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-username {
    padding-left: 12px;
}

.account-username p {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    color: var(--gray);
}

.account-menu {
    padding: 0 24px;
}

.account-menu-item {
    margin-top: 32px;
}

.account-menu-item a {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #808285;
}

.account-menu-item a i {
    display: inline-block;
    margin-right: 12px;
    vertical-align: middle;
}

.form-header {
    display: flex;
    align-items: center;
}

.form-header h2 {
    margin-bottom: 36px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
    color: #221f20;
    display: flex;
    align-items: center;
}

.account-form {
    min-height: 100px;
    padding: 32px 24px;
    text-align: center;
    background: #fff;
    border-radius: 2px;
    margin: 24px;
    align-self: center;
}
