@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input[type='checkbox' i] {
    border-radius: 2px;
}

input[type='checkbox']:checked {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2020%2020'%3E%3Cpath%20fill%3D'none'%20stroke%3D'%23fff'%20stroke-linecap%3D'round'%20stroke-linejoin%3D'round'%20stroke-width%3D'3'%20d%3D'M6%2010l3%203l6-6'%2F%3E%3C%2Fsvg%3E");
    background-color: #221f20;
    border-color: #221f20;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

:root {
    --text-color: #111;
    --white-color: #fff;
    --black-color: #000;
    --text-color: rgba(0, 0, 0, 0.863);
    --border-color: #dbdbdb;
    --header-hight: 120px;
    --navbar-height: 34px;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
        'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
}

.alert-primary {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 13px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    text-align: center;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.text-error {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: #6c6d70;
}

.sub-title-main {
    display: block;
    margin-top: 18px;
    margin-bottom: 18px;
}

.btn {
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-add-cart {
    margin-right: 14px;
}

.btn:hover {
    border: 1px solid var(--text-color);
    background-color: var(--white-color);
    color: var(--text-color);
}

.btn--large.btn--outline {
    background-color: white;
    border: 1px solid #221f20;
    color: #221f20;
}

.btn-outline-hover:hover {
    background-color: var(--text-color);
    color: var(--white-color);
}

.btn--nav {
    min-width: 124 px;
    height: 34px;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.3rem;
    background-color: white;
}

.btn--large {
    padding: 10px 22px;
    border-radius: 16px 0px;
    font-size: 14px;
    line-height: 22px;
    background-color: #221f20;
    color: #f7f8f9;
    border: 1px solid transparent;
    font-weight: 600;
    text-transform: uppercase;
}

.but_filter_remove {
    padding: 6px 36px;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

/* Nãy đến đây */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.router-page-btn {
    display: flex;
    justify-content: space-between;
}

.turn-to-page-login {
    margin-top: 23px;
    text-decoration: none;
    color: var(--text-color);
    right: 0;
}

/* product */

ul.products {
    margin-top: 40px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

ul.products li {
    box-sizing: border-box;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

/* end */
.breadcrumb__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-bottom: 1px solid #f7f8f9;
}

.breadcrumb__link {
    font-size: 12px;
    line-height: 24px;
    color: #6c6d70;
}

.breadcrumb__item {
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}

.breadcrumb__item + .breadcrumb__item:before {
    content: '-';
    font-family: 'icomoon';
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 10px;
    margin-right: 16px;
    margin-left: 8px;
    color: #6c6d70;
}

/* Checkout start */

.container_form-checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    min-height: 100vh;
    background: #f5f5f5;
}

.container_form-checkout form {
    padding: 20px;
    width: 700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.container_form-checkout form .row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.container_form-checkout form .row .col {
    flex: 1 1 250px;
}

.container_form-checkout form .row .col .title {
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.container_form-checkout form .row .col .inputBox {
    margin: 15px 0;
}

.container_form-checkout form .row .col .inputBox span {
    margin-bottom: 10px;
    display: block;
}

.container_form-checkout form .row .col .inputBox input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}

.container_form-checkout form .row .col .inputBox input:focus {
    border: 1px solid #000;
}

.container_form-checkout form .row .col .flex {
    display: flex;
    gap: 15px;
}

.container_form-checkout form .row .col .flex .inputBox {
    margin-top: 5px;
}

.container_form-checkout form .row .col .inputBox img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}

.container_form-checkout form .submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: var(--black-color);
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
}

.container_form-checkout form .submit-btn:hover {
    background: #61b4fb;
}

/* Checkout end */

ul {
    list-style: none;
}

.category {
    border-radius: 2px;
    background-color: var(--white-color);
}

.category__heading {
    color: var(--text-color);
    font-family: 'roboto', sans-serif;
    padding: 12px 16px;
    font-size: 1.3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.category__heading-icon {
    font-size: 1.2rem;
    margin-right: 6px;
}

.category-list {
    padding: 12px 0 8px 0;
    margin-left: 11px;
}

.category-item {
    position: relative;
}

.category-item--active .category-item__link {
    color: var(--black-color);
}

.category-item--active .category-item__link::before {
    content: '';
    top: 50%;
    left: 7px;
    position: absolute;
    border: 4px solid;
    transform: translateY(-50%);
    border-color: transparent transparent transparent var(--black-color);
}

.category-item__link {
    text-decoration: none;
    color: var(--text-color);
    padding: 4px 16px;
    display: block;
    font-size: 0.9rem;
}

.category-item__link:hover {
    color: var(--black-color);
}

/* Sắp xếp lọc sản phẩm */

.home-filter {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
}

.home-filter__label {
    font-size: 1rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter__page-num {
    font-size: 14px;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--black-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}

.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
    border: 1px solid #eee;
}

.home-filter__page-btn--disabled {
    color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 14px;
    color: #555;
}

.select-input {
    position: relative;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    min-width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.select-input__label {
    font-size: 14px;
}

.select-input__icon {
    color: rgba(131, 131, 131);
    position: relative;
    top: 1px;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 36px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
    z-index: 10;
}

.select-input__list::after {
    content: '';
    width: 100%;
    height: 20px;
    top: -10px;
    left: 0;
    position: absolute;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__link {
    font-size: 13px;
    color: var(--text-color);
    text-decoration: none;
    padding: 4px 0;
    background-color: #fff;
    border: none;
}

.select-input__link:hover {
    color: var(--black-color);
}
