@import '../../../../../assets/styles/variable.scss';

.cart {
    width: 30px;
    text-align: center;
}

.cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;

    &:hover .cart-list {
        display: block;
    }
}
.notice {
    top: -4px;
    right: 1px;
    position: absolute;
    padding: 1px 5px;
    background-color: $white;
    color: $black;
    line-height: 10px;
    border-radius: 10px;
    font-size: 12px;
    border: 2px solid $black;
}

.cart-list {
    display: none;
    position: absolute;
    top: calc(100% + 13px);
    background-color: #fdfdfd;
    width: 400px;
    right: -9px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem rgba(0, 0, 0, 0.2);
    animation: fadeIn ease-in 0.2s;
    z-index: 1;

    &::after {
        content: '';
        position: absolute;
        right: 12px;
        top: -28px;
        border-width: 16px 20px;
        border-style: solid;
        border-color: transparent transparent #fdfdfd transparent;
    }
}

.cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 14px;
    color: #999;
    font-weight: 400;
}

.list-item {
    padding: 0;
    list-style: none;
    height: 56vh;
    overflow-y: auto;
}

.item {
    display: flex;
    align-items: center;

    :hover {
        background-color: #eee5e54d;
    }
}

.img {
    width: 42px;
    height: 42px;
    margin: 12px;
    border: 1px solid #efe7e7;
}

.item-info {
    width: 100%;
    margin-right: 12px;
}

.item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-name {
    font-size: 14px;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    padding-right: 16px;
    flex: 1;
    font-weight: 500;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-align: left;
}

.item-price {
    font-size: 14px;
    font-weight: 400;
    color: $black;
}

.item-multiply {
    font-size: 10px;
    margin: 0 4px;
    color: $gray;
}

.item-qnt {
    color: $gray;
    font-size: 12px;
}

.item-body {
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.item-des {
    color: $gray;
    font-size: 12px;
}

.remove {
    font-size: 13px;
    color: var(--red);

    &:hover {
        cursor: pointer;
        color: $black;
    }
}

.btn-check-out {
    float: right;
    background-color: $black;
    margin: 0 12px 12px 0;
    color: $white;
    min-width: 124px;
    text-decoration: none;

    &:hover {
        background-color: $white;
        border: 1px solid $black;
        color: $black;
    }
}
