.wrapper {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-bottom: 24px;
}
//Product
.product-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

ul.products li {
    box-sizing: border-box;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.product-heading {
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    font-family: 'Montserrat';
    color: #000000;
    padding: 50px 0;
    margin: 0;
}

@media (max-width: 768px) {
    .product-heading {
        font-size: 20px;
        line-height: 32px;
        padding: 50px 0 0 0;
    }

    .banner-extra-img {
        padding: 0 15px;
        height: 150px;
    }
}
